/* Call to Action */

.callToAction {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
}

.callToAction .cta-item {
  width: 33%;
  border: 1px solid #4f2929;
  margin-right: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.callToAction .cta-item:hover {
  background-color: #f0f0f0;
}

.callToAction .cta-item:last-of-type {
  margin-right: 0;
}

.callToAction .cta-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.callToAction .cta-item .cta-text {
  padding: 1rem;
}

.callToAction .cta-item .cta-text h3 {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.callToAction .cta-item .cta-text p {
  display: block;
  font-size: 0.8rem;
  color: #666;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .callToAction {
    display: flex;
    flex-direction: column;
  }
  .callToAction .cta-item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .callToAction .cta-item:last-of-type {
    margin-bottom: 0;
  }

  .callToAction .cta-item .cta-text h3 {
    font-size: 1.5rem;
    margin: 0;
    text-align: left;
  }

  .callToAction .cta-item .cta-text p {
    display: block;
    font-size: 1rem;
    color: #666;
    text-align: left;
  }

  .callToAction .cta-item img {
    border-radius: 1rem 0 0 1rem;
    width: 50%;
  }
}
