#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
}

#header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

#header nav a {
  color: #fff;
  text-decoration: none;
  display: block;

  border-radius: 12px;
}

#header nav a:hover {
  color: #f0f0f0;
  background-color: #111111;
}

#header .logoContainer img {
  width: 100px;
  object-fit: contain;
  border-radius: 50%;
}
